<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Google Sign In</title>
  </head>
  <body>
    {% load socialaccount %}
    <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>

    {% if user.is_authenticated %}
    <p>You are signed in as {{user.email}}</p>
    <a href="logout">Logout</a>
    {% endif %}
  </body>
</html>
